[Desktop Entry]
Encoding=UTF-8
Name=What is the Command Line?
Type=Link
URL=https://learn.adafruit.com/what-is-the-command-line
Icon=gnome-fs-bookmark
